.wrapper {
  display: flex;
  top: 70px;
  height: 95%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  // border: 2px solid black;
  justify-content: center;
  align-items: center;

  .left {
    height: 100%;
    width: 25%;
    background-color: #A0A0A0;
    display: flex;
    flex-direction: column;
    font-family: AvenirLTStd-Roman;
    align-items: flex-end;

    .contact-me {
      margin-top: 300px;
      margin-right: 50px;
      margin-bottom: 32px;
      font-family: AvenirLTStd-Roman;
      align-self: flex-end;

      p {
        letter-spacing: 1px;
        font-size: 3em;
      }
    }

    .visit-card {
      display: flex;
      font-family: AvenirLTStd-Light;
      font-size: 1.3em;
      justify-content: flex-end;
      align-items: center;
      margin-top: 40px;

      .title {
        text-align: center;

        ul li {
          padding: 5px 0 5px 5px;
          margin-right: 50px;
          list-style-type: none;
        }
      }

      .data {
        font-style: oblique;
        text-align: right;

        ul li {
          color: #BC5770;
          padding: 5px 10px;
          list-style-type: none;
          border-right: 1px solid black;
        }
      }
    }

    .cv {
      font-family: AvenirLTStd-Light;
      margin-right: 50px;
      margin-top: 112px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
    height: 100%;

    .contact-form-wrapper {
      margin-left: 50px;

      .contact-form {
        min-width: 320px;
        max-width: 500px;
        width: 100%;

        .full-width {
          width: 100%;
          font-family: AvenirLTStd-Roman;

          mat-select {
            font-family: AvenirLTStd-Roman;
            font-size: 1.3em;
          }
        }

        mat-checkbox {
          font-family: AvenirLTStd-Light;
        }

        p {
          font-family: AvenirLTStd-Light;
          color: #BC5770;
        }

        .order {
          margin-top: 10px;

        }

        .submit {
          margin-top: 50px;
          font-family: AvenirLTStd-Light;
        }
      }
    }

    .contact-me {
      margin-top: 300px;
      margin-left: 50px;
      margin-bottom: 50px;
      font-family: AvenirLTStd-Roman;
      align-self: flex-start;

      p {
        letter-spacing: 1px;
        font-size: 3em;
      }
    }
  }
}

.mat-raised-button {
  font-family: AvenirLTStd-Roman;
}

@media screen and (max-width: 1000px) {
  .wrapper {

  }
}

/******************************************************************************
                              contact-dialog styling
******************************************************************************/

.dialog-wrapper {
  height: 1000px;
  width: auto;

  img {
    object-fit: cover;
  }
}
