.wrapper {
  display: flex;
  top: 70px;
  height: 95%;
  overflow: hidden;
  flex: 1;
  position: absolute;
  width: 100%;
  // margin: 25px 10px 10px 10px;
  background-color: #ffffff;
  // border: 2px solid black;
  justify-content: center;
  align-items: center;
}
