<div class="wrapper">
  <div class="left">
    <div class="contact-me">
      <p>contact me</p>
    </div>
    <div class="visit-card">
      <div class="data">
        <ul>
          <li><p>{{ contact.name }}</p></li>
          <li><p>{{ contact.email }}</p></li>
          <li><p>{{ contact.phone }}</p></li>
        </ul>
      </div>
      <div class="title">
        <ul>
          <li><p>name</p></li>
          <li><p>email</p></li>
          <li><p>phone</p></li>
        </ul>
      </div>
    </div>
    <div class="cv">
      <button mat-raised-button (click)="openCV()">cv</button>
    </div>
  </div>
  <div class="right">
    <div class="contact-me">
      <p>leave a comment</p>
      <span>...or place an order</span>
    </div>

    <div class="contact-form-wrapper">
      <form class='contact-form' novalidate>
        <mat-form-field class='full-width'>
          <input
            matInput
            placeholder="name"
            name='name'
            required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="email"
            name='email'
            required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea
            matInput
            placeholder="message"
            matTextareaAutosize
            matAutosizeMinRows="1"
            matAutosizeMaxRows="6"
            name='message'
            required></textarea>
        </mat-form-field>

        <mat-checkbox
          name='checkbox'
          [(ngModel)]="isChecked">I would like to place an order
        </mat-checkbox>

          <div class="order" *ngIf="isChecked">
            <mat-form-field>
              <mat-select placeholder="select an option" name="option">
                <mat-option>none</mat-option>
                <mat-option value="optio1">portret</mat-option>
                <mat-option value="optin2">string-art</mat-option>
                <mat-option value="opton2">digital</mat-option>
                <mat-option value="opion3">custom</mat-option>
              </mat-select>
            </mat-form-field>
            <p>please describe your choice in the message box above</p>
          </div>

          <div class="submit">
            <button mat-raised-button type="submit">send</button>
          </div>

      </form>
    </div>
  </div>
</div>
