<div class="wrapper">
  <div class="left">
      <div class="contact-me">
        <p class='text'>contact me</p>
        <div class="phone-wrapper">
          <p><strong>+40</strong> 766 635 967</p>
          <img src="./assets/images/socialMedia/phone.png" alt="phone">
        </div>
      </div>

      <div class="social-media-wrapper">
        <div class="social-media">
          <div class="facebook"><a target="_blank" href="https://www.facebook.com/DelysidDesign/"><img src="./assets/images/socialMedia/facebook.png" alt="facebook"></a></div>
          <div class="instagram"><a target="_blank" href="https://www.instagram.com/delysiddesign17/"><img src="./assets/images/socialMedia/instagram2.png" alt="instagram"></a></div>
          <div class="email"><a href="mailto:sarateandan@gmail.com"><img src="./assets/images/socialMedia/email.png" alt="email"></a></div>
        </div>
      </div>

      <div class="cv">
        <button mat-raised-button (click)="openCV()">cv</button>
      </div>

      <div class="design">
        design & code &#169; <a href="https://www.linkedin.com/in/sorinfratila/">sorin</a>
      </div>
  </div>
  <div class="right">
    <div class="contact-me">
      <p>leave a comment</p>
      <span>...or place an order</span>
    </div>

    <div class="contact-form-wrapper">
      <form class='contact-form' novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field class='full-width'>
          <input
            matInput
            placeholder="name"
            name='name'
            ngModel
            required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="email"
            name='email'
            ngModel
            required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea
            matInput
            placeholder="message"
            matTextareaAutosize
            matAutosizeMinRows="1"
            matAutosizeMaxRows="8"
            name='message'
            ngModel
            required></textarea>
        </mat-form-field>

        <mat-checkbox
          name='checkbox'
          color="primary"
          [(ngModel)]="isChecked">I would like to place an order
        </mat-checkbox>

          <div class="order" *ngIf="isChecked">
            <mat-form-field>
              <mat-select placeholder="select an option" name="order" ngModel>
                <mat-option value="none">none</mat-option>
                <mat-option value="portret">portret</mat-option>
                <mat-option value="string-art">string-art</mat-option>
                <mat-option value="digital">digital</mat-option>
                <mat-option value="custom">custom</mat-option>
              </mat-select>
            </mat-form-field>
            <p>please describe your choice in the message box above</p>
          </div>

          <div class="submit">
            <button mat-raised-button type="submit" [disabled]="f.invalid">send</button>
          </div>

          <!-- <p>{{ f.value | json }}</p> -->

      </form>
    </div>
  </div>
</div>
