.header {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 99%;
  z-index: 999;
  border: 2px solid black;
  margin: 10px;

  .visible {
    display: none;
  }

  .mat-menu-item {
    font-family: AvenirLTStd-Light;
  }

  .logo {
    font-family: AvenirLTStd-Light;
    letter-spacing: 2px;

    a {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }

    h1 {
      font-size: 3em;
      font-weight: lighter;

      span {
        font-weight: 600;
    }
  }
}

  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-size: 1.3em;
    align-items: center;
    // margin-right: 5px;
    font-family: AvenirLTStd-Light;

    a {
      cursor: pointer;
      transition: background-color 0.5s ease;
      text-decoration: none;
      padding: 21.5px 0;
      color: black;
    }

    a:hover {
      background-color: #F7F3DE;
    }

    a:active {
      color: inherit;
    }

    li {
      margin: 0 10px;
    }
  }
}

@media screen and (max-width: 1300px) {
.header {

    ul {
      font-size: 1.3em;

      a {
        padding: 21.5px 0;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .header {
    height: 50px;

    .logo {
      font-size: 14px;
    }

    ul {
      font-size: 1.1em;

      a {
        padding: 13.5px 0;
      }

      li {
        margin: 0 10px;
      }
    }
  }
}


@media screen and (max-width: 850px) {
.header {
  justify-content: space-evenly;

    .visible {
      display: block;
    }

    ul {
      display: none;
    }
  }
}

@media screen and (max-width: 350px) {
  .header {
    justify-content: center;

    .logo {
      font-size: 12px;
    }
  }
}
