  <div class="header">
    <div class="logo">
      <a (click)="router.navigate(['/content'])"><h1>dan<span>saratean</span></h1></a>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu" class='visible'>
      <mat-icon>list</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <ul>
        <button mat-menu-item routerLink='/content'>home</button>
        <button mat-menu-item routerLink='/graphical'>graphical</button>
        <button mat-menu-item routerLink='/digital'>digital</button>
        <button mat-menu-item routerLink='/string-art'>string art</button>
        <button mat-menu-item routerLink='/contact'>contact</button>
      </ul>
    </mat-menu>

    <ul>
      <a routerLink='/content'><li>home</li></a>
      <a routerLink='/graphical' routerLinkActive='active'><li>graphical</li></a>
      <a routerLink='/digital' routerLinkActive='active'><li>digital</li></a>
      <a routerLink='/string-art' routerLinkActive='active'><li>string art</li></a>
      <a routerLink='/contact' routerLinkActive='active'><li>contact</li></a>
    </ul>
  </div>
  <router-outlet></router-outlet>
