.header {
  height: 70px;
  background-color: #ffffff;
  background: url('transparent_background_2.jpg');
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;

  .visible {
    display: none;
  }

  .mat-menu-item {
    font-family: AvenirLTStd-Light;
  }

  .logo {
    font-family: AvenirLTStd-Light;
    letter-spacing: 2px;
    padding-left: 20px;

    a {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }

    h1 {
      font-size: 3em;
      font-weight: lighter;

      span {
        font-weight: 600;
    }
  }
}

.active {
  background-color: white;
}

  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-size: 1.3em;
    align-items: center;
    font-family: AvenirLTStd-Light;

    a {
      cursor: pointer;
      transition: background-color 0.5s ease;
      text-decoration: none;
      padding: 22.5px 0;
      color: black;
    }

    a:hover {
      background-color: #ffffff;
    }

    a:active {
      color: inherit;
    }

    li {
      margin: 0 10px;
    }
  }
}

@media screen and (max-width: 1300px) {
.header {

    ul {
      font-size: 1.3em;

      a {
        padding: 21.5px 0;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .header {
    height: 50px;

    .logo {
      font-size: 14px;
    }

    ul {
      font-size: 1.1em;

      a {
        padding: 13.5px 0;
      }

      li {
        margin: 0 10px;
      }
    }
  }
}


@media screen and (max-width: 850px) {
.header {
  justify-content: space-evenly;

    .visible {
      display: block;
    }

    ul {
      display: none;
    }
  }
}

@media screen and (max-width: 350px) {
  .header {
    justify-content: center;

    .logo {
      font-size: 12px;
    }
  }
}
