  <div class="header">
    <div class="logo">
      <a (click)="router.navigate(['/content'])"><h1>dan<span>saratean</span></h1></a>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu" class='visible'>
      <mat-icon>list</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <ul>
        <!-- <button mat-menu-item>about</button> -->
        <button mat-menu-item routerLink='/graphical' routerLinkActive='active'>graphical</button>
        <button mat-menu-item routerLink='/digital' routerLinkActive='active'>digital</button>
        <button mat-menu-item routerLink='/string-art' routerLinkActive='active'>string art</button>
        <button mat-menu-item routerLink='/contact' routerLinkActive='active'>contact</button>
      </ul>
    </mat-menu>

    <ul>
      <!-- <a ><li>about</li></a> -->
      <a routerLink='/graphical' routerLinkActive='active'><li>graphical</li></a>
      <a routerLink='/digital' routerLinkActive='active'><li>digital</li></a>
      <a routerLink='/string-art' routerLinkActive='active'><li>string art</li></a>
      <a routerLink='/contact' routerLinkActive='active'><li>contact</li></a>
    </ul>
  </div>
  <router-outlet></router-outlet>
