<div class="wrapper">
  <div class="sidenav">
    Something
    Something
    Something
    Something
    Something
  </div>
  <div class="image-wrapper">
    <img src="../../../assets/images/pic1.jpg" alt="" class="one">
    <img src="../../../assets/images/pic2.jpg" alt="" class="two">
    <img src="../../../assets/images/pic3.jpg" alt="" class="three">
    <img src="../../../assets/images/pic4.jpg" alt="" class="four">
    <img src="../../../assets/images/pic5.jpg" alt="" class="five">
  </div>
</div>
