.wrapper {
  display: flex;
  top: 70px;
  height: 93%;
  overflow: hidden;
  flex: 1;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  align-items: center;

  .left {
    height: 100%;
    width: 25%;
    background-color: #A0A0A0;
    display: flex;
    flex-direction: column;
    font-family: AvenirLTStd-Roman;
    justify-content: space-between;
    align-items: flex-start;

    .design {
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }

  .right {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top-right {
      width: 100%;
      height: 65%;
      display: flex;

      .left-panel {
        width: 6%;
        height: 100%;
        background-color: #B0B0B0;
        // border-right: 1px solid white;
      }

      .left-middle-panel {
        width: 6%;
        height: 100%;
        background-color: #C0C0C0;
      }

      .middle-panel {
        width: 6%;
        height: 100%;
        background-color: #D0D0D0;
        // border-left: 1px solid white;
        // border-right: 1px solid white;
      }

      .right-middle-panel {
        width: 6%;
        height: 100%;
        background-color: #E0E0E0;
      }

      .right-panel {
        width: 6%;
        height: 100%;
        background-color: #F0F0F0;
        // border-left: 1px solid white;
      }

      .image-wrapper {
        width: 70%;
        position: relative;
        height: 100%;

         img {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }

    .bottom-right {
      display: flex;
      width: 100%;
      height: 35%;

      .bulan-picture-wrapper {
        height: 100%;
        width: 30%;
        background-color: #948D9B;
      }

      .panel-wrapper {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;

        .top-panel {
          width: 100%;
          height: 20%;
          background-color: #F0F0F0;
          // border-top: 1px solid white;
          // border-bottom: 1px solid white;
        }

        .top-middle-panel {
          width: 100%;
          height: 20%;
          background-color: #E0E0E0;
        }

        .middle-panel {
          width: 100%;
          height: 20%;
          background-color: #D0D0D0;
          // border-top: 1px solid white;
          // border-bottom: 1px solid white;
        }

        .bottom-middle-panel {
          width: 100%;
          height: 20%;
          background-color: #C0C0C0;
        }

        .bottom-panel {
          width: 100%;
          height: 20%;
          background-color: #B0B0B0;
          // border-top: 1px solid white;
        }
      }
    }
  }



@-webkit-keyframes FadeInOut {
  0% {
    opacity: 1;
  }
  13% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  91% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes FadeInOut {
  0% {
    opacity: 1;
  }
  13% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  91% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeInOut {
  0% {
    opacity: 1;
  }
  13% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  91% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.five {
  animation-name: FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 22.5s;
  animation-delay: 0s;
  animation-direction: normal;
}

  .four {
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 22.5s;
    animation-delay: 4.5s;
    animation-direction: normal;
  }

    .three {
      animation-name: FadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 22.5s;
      animation-delay: 9s;
      animation-direction: normal;
    }

      .two {
        animation-name: FadeInOut;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 22.5s;
        animation-delay: 13.5s;
        animation-direction: normal;
      }

        .one {
          animation-name: FadeInOut;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-duration: 22.5s;
          animation-delay: 18s;
          animation-direction: normal;
        }

}

@media screen and (max-width: 1250px) {
  .wrapper {
    flex-direction: column;
    overflow: auto;
    justify-content: flex-start;

    .sidenav {
      order: 2;
      position: relative;
      right: 30px;
      left: 0;
      min-height: 100px;
      margin-bottom: 20px;
      height: auto;
      width: 95%;
    }

    .image-wrapper {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 95%;
      height: 90%;
      order: 1;
      left: 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    top: 50px;
    height: 95%;

    .image-wrapper {
      max-height: 70%;
    }
  }
}

@media screen and (max-width: 850px) {
  .wrapper {
    .image-wrapper {
      width: 95%;
      max-height: 65%;
    }
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    .image-wrapper {
      max-height: 60%;
    }
  }
}

@media screen and (max-width: 650px) {
  .wrapper {
    .image-wrapper {
      max-height: 55%;
    }
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    .image-wrapper {
      max-height: 50%;
    }
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    .image-wrapper {
      max-height: 45%;
    }
  }
}

@media screen and (max-width: 350px) {
  .wrapper {
    .image-wrapper {
      max-height: 40%;
    }
  }
}
