<div class="wrapper">
  <div class="sidenav">
    Something interesting on the side here!<br>
    Maybe About page? Biography?
  </div>
  <div class="image-wrapper">
    <img src="./assets/images/content/first.jpg" alt="image Not Available" class="one">
    <img src="./assets/images/content/second.jpg" alt="image Not Available" class="two">
    <img src="./assets/images/content/third.jpg" alt="image Not Available" class="three">
    <img src="./assets/images/content/fourth.jpg" alt="image Not Available" class="four">
    <img src="./assets/images/content/fifth.png" alt="image Not Available" class="five">
  </div>
</div>
