<div class="wrapper">
  <div class="sidenav">
    Something interesting on the side here!<br>
    Maybe About page? Biography?
  </div>
  <div class="image-wrapper">
    <img src="./assets/images/first.jpg" alt="Image Not Available" class="one">
    <img src="./assets/images/second.jpg" alt="Image Not Available" class="two">
    <img src="./assets/images/third.jpg" alt="Image Not Available" class="three">
    <img src="./assets/images/fourth.jpg" alt="Image Not Available" class="four">
    <img src="./assets/images/fifth.jpg" alt="Image Not Available" class="five">
  </div>
</div>
