<div class="wrapper">
  <div class="left">
    Some stuff here
    <div class="design">
      design & code &#169; <a href="https://www.linkedin.com/in/sorinfratila/">sorin</a>
    </div>
  </div>
  <div class="right">
    <div class="right-wrapper">
      <div class="card-wrapper" *ngFor="let card of data">
        <mat-card>
          <div class="image-wrapper">
            <a (click)="openDialog(card)"><img mat-card-image src="{{ card.src }}" alt='No Image Available'></a>
          </div>
          <mat-card-title>{{ card.title }}</mat-card-title>
          <div class="footer-wrapper">
            <p>
              {{ card.year }}
            </p>
            <p>
              {{ card.type }}
            </p>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
